// Обнуление
@import "null.scss";
// Шрифт
@font-face {
	font-family: 'Minecraft';
	src: url('../fonts/Minecraft.eot');
	src: local('☺'), url('../fonts/Minecraft.woff') format('woff'), url('../fonts/Minecraft.ttf') format('truetype'), url('../fonts/Minecraft.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Шаблоны & Миксины и тд
$blue: #2E357B;
$gray: #253238;
$green: #269C0B;
// Свои стили
// Main page
// Меню
.page {
	font-family: 'Montserrat', sans-serif;
	&__menu {
  		 position: fixed;
   		 top: 0;
   		 z-index: 8;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 80px;
		background: #fff;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
	&__menu-content {
		z-index: 9;
		justify-content: space-between;
		width: 1360px/1920px * 100%;
		display: flex;
	}
	&__logo-button {
		width: 315px;
		z-index: 10;
		height: 100px;
		background: #269C0B;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s;
		&:hover{
			transition: 0.2s;
			background: #2FB210;
		}
	}
	&__logo {
		font-family: 'Play', sans-serif;
		font-weight: bold;
		font-size: 46px;
		line-height: 53px;
		height: 100px;
		z-index: 6;
		color: #fff;
	}
	&__menu-buttons {
		margin: 0 230px 0 0;
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		display: flex;
		align-items: center;
		height: 80px;
	}
	&__menu-button {
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0 20px;
		color: $gray;
		transition: 0.2s;
		&:hover{
			transition: 0.2s;
			color: #3C5662;
		}
	}
	&__social {
		display: flex;
		align-items: center;
	}
	&__social-link {
		position: relative;
		height: 40px;
		width: 40px;
		margin: 0 5px;
		transition: 0.2s;
		&:nth-child(1){
			height: 40px;
			width: 40px;
			background: url('/img/vk.svg') 0 0/100% 100% no-repeat;
			&:hover{
				background: url('/img/cvk.svg') 0 0/100% 100% no-repeat;
			}
		}
		&:nth-child(2){
			height: 40px;
			width: 40px;
			background: url('/img/yt.svg') 0 0/100% 100% no-repeat;
			&:hover{
				background: url('/img/cyt.svg') 0 0/100% 100% no-repeat;
			}
		}
		&:nth-child(3){
			height: 40px;
			width: 40px;
			background: url('/img/insta.svg') 0 0/100% 100% no-repeat;
			margin: 0 22px 0 5px;
			&:hover{
				background: url('/img/cinsta.svg') 0 0/100% 100% no-repeat;
			}
		}
	}
	&__discord {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #fff;
	}
	&__discord-button {
		width: 200px;
		height: 50px;
		background: #2E357B;
		display: flex;
		padding-left: 24px;
		align-items: center;
		position: relative;
		transition: 0.2s;
		&:hover{
			transition: 0.2s;
			background: #333966;
		}
		&:before{
			content: '';
			position: absolute;
			width: 35px;
			top: 6px;
			right: 34px;
			height: 40px;
			background: url('/img/discord.svg') 0 0/100% 100% no-repeat;
		}
	}
}
// Хедер
.page {
	&__header {
		position: relative;
		color: #fff;
		display: flex;
		overflow: hidden;
	}
	&__header-contant-place1 {
		width: 840px;
		height: 830px;
		background: $gray;
		position: relative;
		display: flex;
		z-index: 1;
		align-items: center;
		justify-content: flex-end;
		overflow:hidden;
	}
	&__header-minecraft-title {
		position: absolute;
		left: -240px;
		top: 370px;
		font-size: 280px;
		line-height: 203px;
		font-family: Minecraft;
		color: #F6F6F6;
		opacity: 0.05;
		transform: rotate(-90deg);
		user-select: none;
	}
	&__header-container{
		height: 540px;
		position: inherit;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}
	&__info {}
	&__info-title {
		font-family: Play;
		font-style: normal;
		font-weight: bold;
		font-size: 55px;
		line-height: 70px;
		margin-right: 59px;
	}
	&__info-subtitle {
		margin: 30px 0 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
	}
	&__citate {
		margin: 95px 0 0;
		width: 530px;
		height: 188px;
		background: #fff;
		color: $gray;
		font-family: Montserrat;
		font-style: italic;
		font-weight: normal;
		font-size: 23px;
		line-height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__citate-logo {
		position: absolute;
		width: 108px;
		height: 108px;
		left: -40px;
		top: -40px;
		border-radius: 50%;
		background: url('/img/logo.png') 0 0/100% 100% no-repeat;
	}
	.page__citate-logo:hover .page__citate-yt-logo:after{
		width: 46.8px;
		height: 31.2px;
		transition: 0.2s;
	}
	&__citate-yt-logo{
		position: relative;
		width: 108px;
		height: 108px;
		&:after{
			transition: 0.2s;
			content: '';
			width: 36px;
			height: 24px;
			bottom: 0;
			right: 0;
			position: absolute;
			background: url('/img/yt_logo.svg') 0 0/100% 100% no-repeat;
		}
	}
	&__citate-text {
		& a{
			color: #2e357b;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&__header-contant-place2 {
		height: 830px;
	}
	&__header-contants{
		transform: translateY(-80px);
		width: 1080px;
		height: 910px;
		z-index: 7;
		background: url('/img/minecraft.jpg') 0 0/100% 100% no-repeat;
	}
	&__information {
		width: 310px;
		height: 350px;
		background: #269C0B;
		position: absolute;
		bottom: 0;
		z-index: 2;
		right: 310px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		padding: 40px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bold{
		font-family: Play;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 40px;
	}
	&__video{
		position: absolute;
		bottom: 143px;
		cursor: pointer;
		overflow: hidden;
		&:hover .page__video-dark{
			transition: 0.2s;
			background: rgba(46,53,123,0.6);
		}
		&:hover .page__video-play{
			transition: 0.2s;
			height: 80px;
			width: 80px;
		}
		.video{
			position: relative;
			height: 200px;
			width: 310px;
		}
	}
	&__video-dark{
		top: 0;
		position: absolute;
		width: 310px;
		height: 200px;
		transition: 0.2s;
		background: rgba(46, 53, 123, 0.8);
	}
	&__header-dark{
		background: rgba(0,0,0,0.5);
		width: 1920px;
		height: 830px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}
	&__video-play{
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 0.2s;
		transform: translateY(-50%) translateX(-50%);
		width: 60px;
		height: 60px;
		background: url('/img/play.svg') 0 0/100% 100% no-repeat;
	}
}
// О нас
.page {
	&__about-us {
		width: 100%;
		height: 762px;
		display: flex;
		justify-content: center;
	}
	.about-us {
	&__container{
		display: flex;
		flex-direction: column;
	}
	&__content {
		max-width: 1300px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__bg-titles {
		position: relative;
	}
	.bg-title{
		user-select: none;
		color: #F6F6F6;
		position: absolute;
		font-size: 280px;
		line-height: 203px;
		font-family: Minecraft;
		position: absolute;
		z-index: 0;
	}
	&__bg-title1{
		left: 380px;
		top: -21px;
	}
	&__bg-title2{
		top: 550px;
		left: 600px;
	}
	&__text {}
	&__link {
		font-family: Montserrat;
		font-size: 18px;
		line-height: 30px;
		margin-top: 50px;
		& a{
			color: $blue;
			transition: 0.2s;
			text-decoration: underline;
			position: relative;
			&:after{
				display: none;
				content: '';
				position: absolute;
				width: 48px;
				height: 48px;
				left: 150px;
				bottom: -13px;
				background: url('/img/arrow.svg') 0 0/100% 100% no-repeat;
			}
			&:hover{
				text-decoration: none;
				&:after{
					display: block;
					animation: arrow 0.2s;
				}
			}
		}
	}
	&__picture {
		position: relative;
		top: 130px;
		max-width: 530px;
		max-height: 530px;
		width: 100%;
		height: 100%;
		background: url('/img/cublay.jpg') 0 0/100% 100% no-repeat;
	}
	}
	.text {
		margin-top: 120px;
		position: relative;
		z-index: 3;
	&__title {
		font-family: Play;
		color: $gray;
		font-weight: bold;
		font-size: 50px;
		line-height: 70px;
		margin-bottom: 50px;
	}
	&__subtitle {
		font-family: Montserrat;
		font-size: 18px;
		line-height: 30px;
		color: $gray;
	}
	}
}
// Донат
.page {
	.donate {
		display: flex;
		justify-content: flex-end;
		margin-top: 58px;
		&__content {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 1280px;
			background: $blue;
			height: 330px;
		}
		&__container{
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			width: 650px;
			height: 230px;
		}
		&__picture {
			transform: scale(-1 , 1);
			width: 800px;
			height: 506.25px;
			position: absolute;
			top: -100px;
			left: -400px;
			background: url('/img/s1200.png') 0 0/100% 100% no-repeat;
		}
		&__text {
			font-family: Play;
			font-weight: bold;
			color: #fff;
			font-size: 50px;
			line-height: 70px;
			& span{
				font-size: 25px;
			}
		}
		&__buttons {
			display: flex;
		}
		&__button {}
	}
	.sponsor {
		margin-right: 20px;
		&__button {
			width: 310px;
			height: 60px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Montserrat;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			color: $blue;
			transition: 0.2s;
			&:hover{
				transition: 0.2s;
				color: #fff;
				background: none;
				border: 2px solid #fff;
			}
		}
	}
	.donator {
		&__button {
			width: 310px;
			height: 60px;
			border: 2px solid #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Montserrat;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			transition: 0.2s;
			color: #fff;
			&:hover{
				transition: 0.2s;
				color: $blue;
				background: #fff;
				border: none;
			}
		}
	}
}
// Что ты получишь после доната
.advantages {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 173px;
	&__title {
		width: 1300px;
		font-family: Play;
		font-weight: bold;
		font-size: 50px;
		line-height: 70px;
		color: $gray;
		margin-bottom: 50px;
	}
	&__content {
		max-width: 1300px;
		max-height: 640px;
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__container1 {
		display: flex;
		flex-direction: column;
	}
	&__box1 {display: flex;}
	&__server {
		width: 640px;
		height: 310px;
		background: #eee;
		position: relative;
		display: flex;
		align-items: flex-end;
		flex-direction: column;	
		overflow: hidden;
		&:hover{
			& .number{
				animation: anmr 3s infinite;
			}
		}
	}
	&__server-picture {background: url('/img/img1.png') 0 0 no-repeat;width: 310px;height: 310px;position: absolute;left: 0;bottom: 0;}
	&__server-title {margin: 40px 30px 0 0;width: 280px;height: 45px;color: $gray;}
	&__server-subtitle {margin: 20px 30px 0 0;width: 280px;height: 110px;}
	&__server-number {color: $green;}
	&__exclusive {margin-left: 20px;background: $green;width: 310px;height: 310px;position: relative;&:hover{& .number{animation: anmr 3s infinite}}}
	&__exclusive-title {color: #fff;margin: 40px 30px 20px 30px;}
	&__exclusive-subtitle {color: #fff;margin: 0 30px;}
	&__exclusive-number {color: #fff}
	&__box2 {display: flex;margin-top: 20px;}
	&__emoji {background: $green;width: 310px;height: 310px;position: relative;&:hover{& .number{animation: anmr 3s infinite}}}
	&__emoji-title {color: #fff;margin: 40px 30px 20px 30px;}
	&__emoji-subtitle {color: #fff;margin: 0 30px;}
	&__emoji-number {color: #fff;}
	&__vip {margin-left: 20px;width: 640px;height: 310px;background: #F6F6F6;position: relative;display: flex;align-items: flex-end;flex-direction: column;overflow: hidden;&:hover{& .number{animation: anmr 3s infinite}}}
	&__vip-picture {background: url('/img/img2.png') 0 0 no-repeat;width: 310px;height: 310px;position: absolute;left: 0;bottom: 0;}
	&__vip-title {margin: 40px 30px 0 0;width: 390px;height: 90px;color: $gray;position: relative;z-index: 1;}
	&__vip-subtitle {color: $gray;width: 390px;height: 90px;margin: 20px 30px 0 0;position: relative;z-index: 1;}
	&__vip-number {color: $green}
	&__container2 {display: flex;align-items: flex-start;position: relative;}
	&__video {width: 310px;height: 640px;background: #F6F6F6;margin-left: 20px;position: relative;&:hover{& .number{animation: anmr 3s infinite}}}
	&__video-picture {background: url('/img/img3.png') 0 0 no-repeat;width: 310px;height: 400px;position: absolute;left: 0;bottom: 0;}
	&__video-title {color: $gray;margin: 40px 30px 20px 30px;}
	&__video-subtitle {color: $gray;margin: 0 30px;}
	&__video-number {color: $green;}
	.title {font-family:Play;font-weight: bold;font-size: 30px;line-height: 45px;}
	.subtitle {font-family: Montserrat;font-size: 18px;line-height: 30px;}
	.number {font-family: Play;font-weight: bold;font-size: 55px;line-height: 70px;position: absolute;right: 20px;bottom: 30px;}
}
// Слайдер
.page__slider {
	margin-top: 140px;
	display: flex;
	height: 600px;
	overflow:hidden;
	&__content {
		max-width: 840px;
		width: 100%;
		height: 600px;
		background: $gray;
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: flex-end;
	}
	&__title {
		color: #fff;
		margin: 100px 187px 0 0;
		font-family: Play;
		font-weight: bold;
		font-size: 50px;
		line-height: 70px;
		width: 343px;
		height: 70px;
	}
	&__images{
		position: relative;
		min-width: 0;
		left: 750px;
		top: 84px;
	}
	&__image{
		margin: 0 10px 0;
	}
	.slick-center{
		opacity: 1;
		}
	&__subtitle {
		color: #fff;
		margin: 50px 110px 0 0;
		font-family: Montserrat;
		font-size: 18px;
		line-height: 30px;
		width: 420px;
		height: 120px;
	}
	&__button {
		margin: 50px 220px 0 0;
		& div{
			width: 310px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight: 500;
			font-size: 18px;
			line-height: 30px;
			border: 2px solid #fff;
			transition: 0.2s;
			&:hover{
				border: none;
				background: #fff;
				color: $gray;
				transition: 0.2s;
			}
		}
	}
}
.slick{
	&-track{
		display: flex;
	}
	&-list{
		overflow: hidden;
	}
}
.page__slider__images{
	position: relative;
	& .slick-arrow{
		position: absolute;
		z-index: 3;
		font-size: 0;
		width: 81px;
		height: 16px;
		&.slick-prev{
			transform: translateX(-200%) translateX(-35px);
			bottom: 144px;
			transition: 0.2s;
			background: url('/img/slider_arrow_left.svg') 0 0/100% 100% no-repeat;
			&:active{
				transition: 0.2s;
				width: 90px;
				height: 20px;
			}
		}
		&.slick-next{
			transform: translateX(-100%);
			bottom: 144px;
			transition: 0.2s;
			background: url('/img/slider_arrow_right.svg') 0 0/100% 100% no-repeat;
			&:active{
				transition: 0.2s;
				width: 90px;
				height: 20px;
			}
		}
	}
}
// Футер
.footer {
	margin-top: 152px;
	background: $gray;
	display: flex;
	justify-content: center;
	position: relative;
	&__bg-text {
		top: 0;
		transform: translateY(-100%);
		user-select: none;
		color: #F6F6F6;
		position: absolute;
		font-size: 240px;
		line-height: 203px;
		font-family: Minecraft;
		position: absolute;
		z-index: -1;
	}
	&__content {
		padding: 72px;
		width: 1300px;
		display: flex;
		justify-content: space-between;
	}
	&__container {
		display: flex;
		align-items: center;
	}
	&__logo {
		width: 90px;
		margin-right: 20px;
		height: 85px;
		position: relative;
		background: url('/img/logo.png') 0 0/100% 100% no-repeat;
		transition: 0.2s;
		&:hover{
			opacity: 0.9;
			cursor: pointer;
			transition: 0.2s;
			& .footer__yt-logo{
				transition: 0.2s;
				width: 40px;
				height: 29px;
			}
		}
	}
	&__yt-logo {
		transition: 0.2s;
		width: 30px;
		height: 20px;
		position: absolute;
		right: 0;
		bottom: 0;
		background: url('/img/yt_logo.svg') 0 0/100% 100% no-repeat;
	}
	&__text {
		font-family: Montserrat;
		font-style: italic;
		font-size: 23px;
		line-height: 40px;
		color: #fff;
	}
	&__button {
		& div{
			margin-top: 30px;
			width: 200px;
			height: 50px;
			background: none;
			border: 2px solid #fff;
			display: flex;
			color: #fff;
			padding-left: 24px;
			align-items: center;
			transition: 0.2s;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 35px;
				height: 40px;
				top: 4px;
				right: 34px;
				background: url('/img/discord.svg') 0 0/100% 100% no-repeat;

			}
			&:hover{
				transition: 0.2s;
				background: #fff;
				color: $gray;
				&:after{
					background: url('/img/cdiscord.svg') 0 0/100% 100% no-repeat;
				}
			}
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
	}
	&__social-text {
		font-style: italic;
		font-size: 23px;
		line-height: 40px;
		color: rgba(255, 255, 255, 0.3);
	}
	&__social-icons {
		display: flex;
		align-items: center;
		margin-top: 40px;
	}
	&__vk {
		width: 52px;
		height: 40px;
		margin-right: 20px;
		background: url('/img/footer_vk.svg') 0 0/100% 100% no-repeat;
		&:hover{
			background: url('/img/cfooter_vk.svg') 0 0/100% 100% no-repeat;
		}
	}
	&__yt {
		width: 45px;
		height: 40px;
		margin-right: 20px;
		background: url('/img/footer_yt.svg') 0 0/100% 100% no-repeat;
		&:hover{
			background: url('/img/cfooter_yt.svg') 0 0/100% 100% no-repeat;
		}
	}
	&__insta {
		width: 40px;
		height: 35px;
		background: url('/img/footer_insta.svg') 0 0/100% 100% no-repeat;
		&:hover{
			background: url('/img/cfooter_insta.svg') 0 0/100% 100% no-repeat;
		}
	}
	&__up {
		width: 90px;
		height: 90px;
		background: $green;
		position: relative;
		top: -72px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.2s;
		&:hover{
			transition: 0.2s;
			background: #2FB210;
		}
	}
	&__up-icon {
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 50%;
		transform: translateY(-25%);
		background: url('/img/arrow_up.svg') 0 0/100% 100% no-repeat;
	}
	&__up-text {
		margin-top: 20px;
		font-size: 18px;
		line-height: 30px;
		color: #fff;
	}
}
@keyframes arrow{
	0%{
		opacity: 0%;
		left: -100px;
	}
	100%{
		opacity: 100%;
		left: 150px;
	}
}
@keyframes anmr{
	0%{right: -50px;opacity: 0%}
	50%{right: 20px;opacity: 100%}
}
// О нас страница
// О нас
.au {
	&__about-us {
		margin-top: 200px;
		display: flex;
		justify-content: center;
		position: relative;
	}
	&__container {
		width: 1300px;
		position: relative;
	}
	&__bg-text {
		position: absolute;
		font-size: 280px;
		line-height: 203px;
		font-family: Minecraft;
		color: #F6F6F6;
		user-select: none;
		z-index: -1;
		&:nth-child(1){
			top: 0;
			right: -200px;
		}
		&:nth-child(2){
			bottom: 100px;
			right: -200px;
		}
	}
	&__title {
		font-family: Play;
		color: $gray;
		font-weight: bold;
		font-size: 55px;
		line-height: 70px;
		margin-bottom: 100px;
	}
	&__beginnings {
		& p{
			font-family: Montserrat;
			font-size: 18px;
			line-height: 30px;
			margin: 15px 0;
		}
	}
	&__beginnings-title {
		font-family: Play;
		color: $gray;
		font-weight: bold;
		font-size: 50px;
		line-height: 70px;
		margin-bottom: 50px;
	}
	&__beginnings-picture {
		width: 530px;
		height: 530px;
		position: absolute;
		top: 110px;
		right: 0;
		background: url('/img/cublay.jpg') 0 0 no-repeat;
	}
}
// Почему наш сервер самый дружный и ламповый
.advantages {
	&__mp-title {
		font-family: Play;
		font-weight: bold;
		font-size: 30px;
		color: $gray;
		line-height: 45px;
		margin: 40px 240px 0 0;
	}
	&__mp-subtitle {
		margin: 40px 270px 0 0;
		font-size: 18px;
		line-height: 30px;
	}
	&__farm-title {
		font-family: Play;
		font-weight: bold;
		font-size: 30px;
		line-height: 45px;
		color: $gray;
		margin: 40px 270px 0 0;
	}
	&__farm-subtitle {
		margin: 20px 270px 0 0;
		font-size: 18px;
		line-height: 30px;
	}
}
.unknown {
	margin-top: 100px;
	color: $gray;
	display: flex;
	align-items: center;
	flex-direction: column;
	&__title {
		width: 1300px;
		font-family: Play;
		font-weight: bold;
		font-size: 50px;
		line-height: 70px;
	}
	&__nav{
		display: flex;
		width: 1300px;
		justify-content: space-between;	
	}
	&__list {
		margin-top: 50px;
	}
	&__list-title {
		margin-bottom: 20px;
		font-family: Play;
		font-weight: bold;
		font-size: 30px;
		line-height: 45px;
	}
	&__items {
		font-size: 18px;
		line-height: 30px;
	}
	&__text1{
		margin: 15px 0;
	}
	&__text {
		margin: 15px 0;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			left: -20px;
			width: 10px;
			top: 13px;
			height: 10px;
			background: $blue;
		}
	}
}
